body{
    background: rgb(54, 53, 53);
}
.mainBackground{
    background: url('./assets/images/bg.jpg');
    height: 100vh;
    width: 100%;
    margin: 0;

}
.bgOverlayColor{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
}
.bgContent{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    z-index: 2;
}
.mainBackground img{
    position: absolute;
    top: 20px;
    left: 50px;
    height: 30px;
    width: 134px;
}
.mainBackground .btn{
    position: absolute;
    top: 20px;
    right: 50px;
    background: red;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
}
.mainBackground .mainCenterText{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-70%);
    text-align: center;
    width: 55%;
}
.mainBackground .mainCenterText h1{
    color: #fff;
    font-weight: 600;
    font-size: 3em;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}
.mainBackground .mainCenterText h3{
    color: #fff;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.mainBackground .mainCenterText .tryItNow{
    width: 100%;
}
.mainBackground .mainCenterText .tryItNow input{
    width: 70%;
    height: 60px;
   float: left;;
}

.mainBackground .mainCenterText .tryItNow button{
    width: 30%;
    height: 60px;
    float: right;
    background: red;
    color: #fff;
    font-size: 1.6em;
    text-transform: uppercase;
    border-radius: 5px;
    border: 0;
}
.fa-angle-right{
    font-size: 1em;
    -webkit-text-stroke: 1px background-color;
    margin-left: 10px;
    text-align: center;
}
.mainBackground .mainCenterText h5{
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 2.5em;
}

.onTV{
    margin-top: 8px;
    background: #000;
}

.onTV .row{
    position: relative;
    height: 100%;
}

.onTV .row [class*="col-"]{
    height: 100%;
    color: #fff;   
}

.onTV .row [class*="col-"] .onTVContent{
    padding: 100px 65px;
}

.onTV .row [class*="col-"] h1{
    width: 80%;
    font-size: 2.8em;
    font-weight: 700;
    line-height: 1.8em;
}
.onTV .row [class*="col-"] h4{
    width: 75%;
    font-size: 1.5em;
    font-weight: 350;
}

.onTV .row [class*="col-"] img{
    width: 90%;
    padding: 100px 10px;
}

.onPhone{
    margin-top: 8px;
    background: #000;
}

.onPhone .row{
    position: relative;
    height: 100%;
}

.onPhone .row [class*="col-"]{
    height: 100%;
    color: #fff;
    padding: 100px 65px;   
}

.onPhone .row [class*="col-"] .onPhoneContent{
    padding: 80px 55px;
}

.onPhone .row [class*="col-"] h1{
    width: 80%;
    font-size: 2.8em;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 15px;
}
.onPhone .row [class*="col-"] h4{
    width: 90%;
    font-size: 1.5em;
    font-weight: 350;
}

.onPhone .row [class*="col-"] img{
    width: 100%;
    padding: 60px 5px;
}

.everyDevice{
    margin-top: 8px;
    background: #000;
}

.everyDevice .row{
    position: relative;
    height: 100%;
}

.everyDevice .row [class*="col-"]{
    height: 100%;
    color: #fff;   
}

.everyDevice .row [class*="col-"] .everyDeviceContent{
    padding: 100px 65px;
}

.everyDevice .row [class*="col-"] h1{
    width: 80%;
    font-size: 2.8em;
    font-weight: 700;
    line-height: 1.8em;
}
.everyDevice .row [class*="col-"] h4{
    width: 75%;
    font-size: 1.5em;
    font-weight: 350;
}

.everyDevice .row [class*="col-"] img{
    width: 90%;
    padding: 100px 10px;
}

.faq{
    margin-top: 8px;
    background: #000;
    padding-bottom: 80px;
}

.faq .row{
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 8%;
}

.faq .row .col-md-12{
    width: 100%;
}

.faq .row .col-lg-12{
    width: 100%;
}
.faq .row [class*="col-"] .faqContent h1{
    color: #fff;
    font-size: 3.0em;
    font-weight: 700;
    margin-bottom: 60px;
}
.card{
    border: 0;  
    margin-bottom: 8px; 
}
.card-header{
    background: rgb(54, 53, 53);
    border-bottom: 2px solid black;
}
.card-body{
    background: rgb(54, 53, 53);
    color: #fff;
}

#headingOne button{
    color: #fff;
    font-size: 0.8em;
    font-weight: 500;
}

#headingTwo button{
    color: #fff;
    font-size: 0.8em;
    font-weight: 500;
}

#headingThree button{
    color: #fff;
    font-size: 0.8em;
    font-weight: 500;
}

#headingFour button{
    color: #fff;
    font-size: 0.8em;
    font-weight: 500;
}

#headingFive button{
    color: #fff;
    font-size: 0.8em;
    font-weight: 500;
}

.footer{
    background: #000;
    margin-top: 8px;
    padding-bottom: 40px;
}
.footer .questions{
    margin-left: 10%;
    padding-top: 50px;
}
.footer .questions a{
    color: rgb(131, 128, 128);
    text-decoration: none;  
    font-size: 0.9em;  
}
.footerItems{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}
table td tr{
    padding:0;
}
table tr td a{
    color: rgb(131, 128, 128);
    font-size: 0.8em;
}

p{
    margin-top: 40px;
    margin-left: 10%;
    color: rgb(131, 128, 128);
    font-size: 0.8em;
}